<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.camk1.app_tienda">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"
            android:theme="@style/AppTheme"
            android:label="Inicio"/>
        <activity android:name=".ContactoActivity"
            android:theme="@style/AppTheme"
            android:label="Contacto"/>
        <activity android:name=".ProductoActivity"
            android:theme="@style/AppTheme"
            android:label="Eligir Producto"/>
        <activity android:name=".ProductoListaActivity"
            android:theme="@style/AppTheme"
            android:label="Sub-Productos"/>
        <activity android:name=".ProductoCompraActivity"
            android:theme="@style/AppTheme"
            android:label="Compra Producto"/>
        <activity android:name=".FacturaActicity"
            android:theme="@style/AppTheme"
            android:label="Compra Producto"/>

    </application>

</manifest>